<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Trailing Slash - localizacao" stopProcessing="true">
          <match url="^localizacao$" />
          <action type="Redirect" url="/localizacao/" redirectType="Permanent" />
        </rule>
        <rule name="Trailing Slash - como-chegar" stopProcessing="true">
          <match url="^como-chegar$" />
          <action type="Redirect" url="/como-chegar/" redirectType="Permanent" />
        </rule>
        <rule name="Trailing Slash - whatsapp" stopProcessing="true">
          <match url="^whatsapp$" />
          <action type="Redirect" url="/whatsapp/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
